<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>John Meguerian | Product Designer</title>
    <link rel="stylesheet" href="https://use.typekit.net/kre8rmj.css">
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <div class="container">
        <%= partial "partials/global-header" %>
        <main class="<%= page_classes %>" role="main">
          <%= yield %>
        </main>
        <%= partial "partials/global-footer" %>
    </div>
    <% if build? %>
      <%= partial "partials/analytics" %>
    <% end %>
  </body>
</html>