<% wrap_layout :layout do %>
  <article class="project grid-split">

    <header>
      <h1 class="measure-tight"><%= current_page.data.title %></h1>
      <ul class="meta">
        <li class="meta__item"><%= current_page.data.what %></li>
        <li class="meta__item"><%= current_page.data.when %></li>
        <li class="meta__item"><%= current_page.data.where %></li>
      </ul>
    </header>

    <section class="intro stack measure-narrow">
      <%= yield %>
    </section>


    <section class="gallery">
      <% current_page.data.images.each do |img| %>
        <%= partial "partials/image", :locals => {:id => img.id, :caption => img.caption} %>
      <% end %>
    </section>
    
  </article>
<% end %>