<% wrap_layout :layout do %>
  <article class="project">
    <div class="project-info">
      <header>
        <h1 class="measure-tight"><%= current_page.data.title %></h1>
        <dl class="meta">
          <dt>What</span>
          <dd><%= current_page.data.what %></dd>
          <dt>When</span>
          <dd><%= current_page.data.when %></dd>
          <dt>Where</dt>
          <dd><%= current_page.data.where %></dd>
        </dl>
      </header>

      <section class="intro stack measure-narrow">
        <%= yield %>
      </section>
    </div>

    <section class="gallery">
      <% current_page.data.images.each do |img| %>
        <%= partial "partials/image", :locals => {:id => img.id, :caption => img.caption} %>
      <% end %>
    </section>
  </article>
<% end %>