<% wrap_layout :layout do %>
  <article class="project">
    <div class="project__intro">
      <header class="project__header">
        <h1 class="project__title"><%= current_page.data.title %></h1>
        <ul class="project__meta">
          <li><%= current_page.data.what %></li>
          <li><%= current_page.data.when %></li>
          <li><%= current_page.data.where %></li>
        </ul>
      </header>
    
      <div class="project__text">
        <%= yield %>
      </div>
    </div>


    <section class="project__gallery">
      <% current_page.data.images.each do |img| %>
        <%= partial "partials/image", :locals => {:id => img.id, :caption => img.caption} %>
      <% end %>
    </section>

  </article>
<% end %>
